mobile = 600px
tablet = 900px
desktop = 1200px
desktopLarge = 1800px

.noMobile
  @media screen and (max-width mobile)
    display none !important

.noTablet
  @media screen and (max-width tablet)
    display none !important

.noDesktop
  @media screen and (max-width desktop)
    display none !important

.noDesktopLarge
  @media screen and (max-width desktopLarge)
    display none !important
