.mainTitle
  fontsize(80px)
  font-family subFont
  line-height 1

.subTitle
  fontsize(50px)
  font-family subFont
  line-height 1.2

.terTitle
  fontsize(24px)
  font-family subFont
  line-height 1.2

.text
  fontsize(18px)
  line-height 1.86

.small
  fontsize(16px)
  line-height 1.4

.centered
  text-align center

.left
  text-align left

.right
  text-align right

.uppercase
  text-transform uppercase

.bold
  font-weight 600

.italic
  font-style italic
